@font-face {
    font-family: 'Ruler Modern';
    src: url(font/rulermodern.woff) format('woff');
  }
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #96B0FF;
}






button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    position: absolute;
    border-radius: 25px;
    color: #E6C8FF;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    left: 41.5%;
    top: 69%;
    background-color: #8F5BBD;
    font-family: 'Ruler Modern';
    
}
button:hover{
    background: #E6C8FF;
    transition: 0.5s;
}
button:hover{
    color: #8F5BBD;
}
a:link{
    color: #8F5BBD;
    text-decoration: none;
}
a:hover{
    color: #8F5BBD;
    text-decoration: none;
    transition: 1s;
}







nav {
    background-color: #E6C8FF;
    padding: 20px;
    letter-spacing: 2px;
    text-align: left;
    font-family: 'Ruler Modern';
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #8F5BBD;
    font-weight: bold;
}






h1{
    z-index: 3;
    background-color: none;
    height: 60%;
    position: absolute;
    font-family: 'Ruler Modern';
    color: #8F5BBD;
    margin-left: 26.5%;
    margin-top: 20%;
}

.earlymorning img{
    float: left;
    position: absolute;
    z-index: 4;
    height: 30%;
    margin-left: 50px;
    top: 80%;
    align-self: flex-end;
    margin-top: 10%;
    overflow: auto;
}


.earlymorning p{
float: left;
position: absolute;
z-index: 1;
margin-left: 20%;
align-self: flex-end;
font-family: 'ruler modern';
color: #8F5BBD;
}

.background img{
    position: static; 
    z-index: -1; 
    margin-left: 0;
    overflow: auto;
    background-image: "media/1.png";
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 3;
font-family: 'Ruler Modern';
color: #8F5BBD;
font-size: 100px;
}





html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 
 .wrapper{
   position: absolute;
   width: 100%;
 }
 
 .moving-helicopter{
   position: absolute;
   height: 50px;
   z-index: 10;
   left: 18%;
   animation: moveBus 22s ease-in-out forwards;
 }
 
 .moving-helicopter2{
   position: absolute;
   height: 50px;
   z-index: 10;
   left: -10%;
   animation: moveBus2 2s ease-in-out 2s forwards;
 }
 
 @keyframes moveBus{
   0% {
   left: -16%;
   }
   100% {
   left: 100%;
   }
 }
 
 @keyframes moveBus2{
   0% {
   left: -10%;
   }
   100% {
   left: 18%;
   }
 }